div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

#header h1 {
	font: 24px sans-serif;
}

.viz{
  margin: auto;
  text-align: center;
  font: 30px sans-serif;
  color: #566573;
  border-radius: 10px;
  background: #F2F3F4;
  padding: 10px; 
  width: 1200px;
  height: 50px; 

}

article {
    text-align: left;
    padding: 1em;
}